

.maIn1{
       display: flex;
       flex-direction: column;
       margin-top: 40px;
       
            ul{
                
                list-style: none;
                                
                li{  
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   
                   h2{
                       
                       color:$colorSecundario;
                       font-size: 30px;
                   }
                   p{
                       color:$colorPrincipal;
                       font-size:20px ;
                   }

                }
            }
        }


@media (max-width:424px){

    
        .maIn1{
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                   
                    
       
       
            ul{
                
                list-style: none;
                
                justify-content: center;
                    align-items: center;
                    margin-right: 30px;
                                
                li{  
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                   
                   h2{
                       
                       color:$colorSecundario;
                       font-size: 30px;
                   }
                   p{
                       color:$colorPrincipal;
                       font-size:20px ;
                   }

                }
            }
        }

}


.banner-inicio3{
    
     background-image:url(../imgs/Gestion-proyecto1.jpg);
    
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;

    background-position: center center;
    background-size: cover;

}

.banner-inicio3:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}



    

    
    


